.navbar [class*="active"] {
    color: coral;
    position: relative;
}

.navbar [class*="active"]::after {
    content: "";
    height: 4px;
    width: 110%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: currentColor;
    position: absolute;
}
